.grid{
	display: grid;
}
.insp-list{
	grid-gap:32px;
	grid-auto-rows: minmax(500px , auto);
	grid-template-columns: 1fr 1fr 1fr;
}
.insp-item{
	position: relative;
	background-color: black;
	border-radius: 8px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.insp-item::after{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 65%;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 50% rgba(0, 0, 0, 0.647277) 100%);
}
.insp-item__big{
grid-column-end: span 2;
}
.insp-item__bigheight{
	height: 710px;
}
.insp-item__1{
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8daWqTm2G-YvP8qojzwUVk_zr78Zbq4jDXg&usqp=CAU);
}
.insp-item__2{
	background-image: url(https://wikiway.com/upload/iblock/78c/KHram-Sagrada-Familiya-_-vizitnaya-kartochka-Barselony.jpg);
}
.insp-item__3{
	background-image: url(https://static8.depositphotos.com/1000152/1020/i/600/depositphotos_10200176-stock-photo-beach-and-tropical-sea.jpg);
}
.insp-item__4{
	background-image: url(https://kulturologia.ru/files/u16342/163423835.jpg);
}
.insp-item__5{
	background-image: url(https://st4.depositphotos.com/12982378/20158/i/600/depositphotos_201588652-stock-photo-smiling-soldier-in-military-uniform.jpg);
}
.insp-item__6{
	background-image: url(https://amsterdamtravel.ru/images/obzorneobichnixmostovmiranakotorievimozh_F3367106.jpg);
}
.insp-item__7{
	background-image: url(https://wpapers.ru/wallpapers/Ice-Water/Water/15851/PREV_%D0%9E%D0%BA%D0%B5%D0%B0%D0%BD-%D0%BF%D0%BE%D0%B4-%D0%B2%D0%BE%D0%B4%D0%BE%D0%B9.jpg);
}
.insp-text{
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 5;
padding: 0 40px;
padding-bottom: 47px;
}
.insp-category{
	font-size: 10px;
	font-family: SF Pro Display;
	font-weight: 800;
	line-height: 12px;
	letter-spacing: 1.1px;
	text-transform: uppercase;
	color: white;
	display: inline-block;
	margin-bottom: 10px;
}
.insp-title{
	font-family: SF Pro Display;
	font-weight: 700;
	font-size: 32px;
	line-height: 40px;
	color: white;
	margin-bottom: 25px;
}
.inst-people{
	display: flex;
}
.insp-people__item{
	overflow: hidden;
	border-radius: 100%;
	border: 1px solid white;
	width: 48px;
	height: 48px;
	background-color: white;
}
.insp-people__item img{
		width: 100%;
		height: 100%;
		object-fit: cover;
}
.insp{
	padding-top: 95px;
	padding-bottom: 140px;
}
.insp__descr{
	text-align: center;
	max-width:635px ;
	margin: 0 auto;
	font-family: SF Compact Text;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #788692;
	margin-bottom: 95px;
}
.insp-heading{
	margin-bottom: 25px;
}
.insp-people__item:not(:first-child){
	margin-left: -15px;
}
.insp-play{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 64px;
	height: 64px;
	position: absolute;
	left: 40px;
	top: 40px;
}
