.container {
	max-width: 1626px;
	padding: 0 30px;
	margin: 0 auto;
}
.site-container{
	overflow: hidden;
}
.flex{
	display: flex;
}
.btn-resset{
	border: none;
	background-color: transparent;
	cursor: pointer;
	padding: 0;
}
.burger{
	width: 48px;
	height: 10px;
	position: relative;
}
.burger-line{
	width: 100%;
	height: 2px;
	background-color: white;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}
.burger-line:last-child{
	top: auto;
	bottom: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
.section-title{
	font-size: 64px;
	font-weight: 700;
	line-height: 80px;
	color: #1c2e3d;
}
.section-title--center{
	text-align: center;
	max-width: none;
}
